<div>

    <br>
    <h2> <u style="color: brown;">Cont</u>act Us</h2>

    <br>

    <table>
        <tbody>
            <tr>
                <td><i class="fa fa-address-card" aria-hidden="true"></i> &nbsp; </td>
                <td> Address: Mumbai Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
            </tr>

            <tr>
                <td><i class="fa fa-phone" aria-hidden="true"></i></td>
                <td>Phone: 9989857854</td>
            </tr>

            <tr>
                <td><i class="fa fa-telegram" aria-hidden="true"></i> &nbsp; </td>
                <td> Email: bookshownow@gmail.com</td>
            </tr>

            <tr>
                <td><i class="fa fa-ravelry" aria-hidden="true"></i> &nbsp;</td>
                <td>Website: website.com</td>
            </tr>
        </tbody>
    </table>
<br>
</div>