<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../../assets/Images/c2.jpg" height="550px" width="1200" alt="">
</div>
<br>
<!--------------------------------------------------------------------------------------------------->
<div>

  <div class="row" style="background-color:burlywood; padding:0px 0px 0px 0px" >
    
    <div class="col-sm-4" >
      <h4 style="margin-left: 80px;"><b> Book My Show</b></h4>
      <h1 style="color: brown;margin-left: 108px;"><b> NOW ! </b></h1>
    </div>

    <div class="col-sm-8"> 
      <h3>Endless Entertainment Anytime. Anywhere !</h3>
      <h2 style="color: rebeccapurple; margin-left: 190px;"><b> STREAM </b></h2>
    </div>
   
    
  </div>

</div>
<!---------------------------------------------------------------------------------------------------->
<div class="container" style="margin: 40px;">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../../assets/Images/Pathan.jpg" height="277px" width="180px"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pathaan</h5>
          <p class="card-text"> Action/ Thriller</p>
        </div>
        <div class="card-footer">
          <small>
            Language: Hindi <br>
            Starring: Shah Rukh Khan, Deepika,John <br>
            Release Date: 25 January 2023
          </small>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../../assets/Images/Shehzada.jpg" height="277px" width="180px"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Shehzada</h5>
          <p class="card-text"> Action/ Drama </p>
        </div>
        <div class="card-footer">
          <small>
            Language: Hindi <br>
            Starring: Kartik Aaryan, Kriti Sanon <br>
            Release Date: 17 February 2023
          </small>         
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../../assets/Images/Ved.jpg" height="277px" width="180px"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ved</h5>
          <p class="card-text">Romantic Drama</p>
        </div>
        <div class="card-footer">
          <small>
            Language: Marathi <br>
            Starring: Ritesh Deshmukh, Genelia D'Souza <br>
            Release Date: 30 December 2022
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------------------------------------->

<h2 style="text-align: center; color: darkslategrey; background-color: burlywood;">Upcoming Movies</h2>
<br>

<div class="row row-cols-1 row-cols-md-4 g-5">
  <div class="col">
    <div class="card">
      <img src="../../../assets/Images/Christopher.jpeg" height="400px" width="50px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Christopher</h5>
        <p class="card-text">Language: Malayalam <br> Starring: Mammootty <br> Release Date: 9 February 2023 </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/Images/aadipurush.jpg" height="400px" width="50px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adipurush</h5>
        <p class="card-text"> Language: Hindi, Telugu <br> Starring: Prabhas, Kriti Sanon, Saif <br>Release Date: 16 June 2023</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/Images/Maindan.jpg" height="400px" width="50px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Maidaan</h5>
        <p class="card-text">Language: Hindi <br> Starring: Ajay Devgan, Priyamani <br> Release Date: 12 May 2023</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/Images/199.jpg" height="400px" width="50px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">19.20.21</h5>
        <p class="card-text">Language: Kannad <br> Starring: Shrunga BV, MD Pallavi <br> Release Date: 10 February 2023</p>
      </div>
    </div>
  </div>
</div>