<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><b>Book My Show </b><span style="color: brown;"><b> NOW ! </b></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> &nbsp; &nbsp; &nbsp; &nbsp;
            <li class="nav-item active">
                <a class="nav-link" href="home">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="registration">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="MovieDescription"> Streaming Movies </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="crud">dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addmovie">Add Movie</a>
            </li>
            
            
           

            <button class="btn btn-outline-danger m-2" style="float: right;" (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
            
        </ul>


    </div>
</nav>